body {
  overflow: hidden;
}

[data-game] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  width: 100vw;
  max-width: 1200px;
  height: 100vh;
  max-height: 960px;
  overflow: visible;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.tile {
  display: block;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  border: 3px solid darken($active, 10%);
  border-radius: 10px;
  background-color: $active;
  z-index: 1;
  transition: all 0.2s ease-in-out;
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;

  &:hover {
    transform: rotate(10deg) scale(1.2);
    z-index: 3;
  }

  &.flipped {
    background-color: #fff;
    border: 5px solid $inactive;
  }

  &.inactive {
    background-color: $inactive;
    border: 5px solid $inactive;
    cursor: default;

    &:hover {
      transform: none;
    }
  }

  &.invisible {
    opacity: 0;
    visibility: hidden;
    cursor: default;

    &:hover {
      transform: none;
    }
  }

  &.right {
    border: 5px solid $right;
  }

  &.wrong {
    border: 5px solid $wrong;
  }

}
